@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    background-image:url('https://media.istockphoto.com/id/1220101964/photo/pouring-coffee-with-smoke-on-a-cup-and-coffee-beans-on-burlap-sack-on-black-background.jpg?s=612x612&w=0&k=20&c=uR1oUz1TyGj9cjmXM-kwsPCLwCFznEyvqs1yqS8fGvI=');
    background-size:cover;
    background-repeat:no-repeat;
    font-family: 'Italic', sans-serif;
    padding: 20px;
}

h1, h2, p{
    text-align:center;
}

h1{
    font-size: 40px;
    margin:0;
}

h2{
    font-size: 35px;
}

.top-line,.bottom-line{
    height: 2px;
    background-color: rgba(228, 202, 168, 0.904);
    border-color: rgb(66, 63, 60);
    box-shadow: -0px 4px 15px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -0px 4px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -0px 9px 15px 0px rgba(0,0,0,0.75);
}

.top-line{
    margin-top: 25px;
}

.bottom-line{
    margin-top: 25px;
}

.tea-menu{
    width: 80%;
    max-width: 500px;
    background-color: rgba(107, 109, 86, 0.889);
    margin-left:auto;
    margin-right: auto;
    padding: 20px;
}

.established{
    font-style:italic;
}
.tea-icon{
    display: flex;
    align-items: center; 
    justify-content: center;
}

img{
    /* display: block; */
    height: 40px;
    width: 40px;
    /* margin:auto; */
    margin: auto 5px;
}

.tea-items p{
    display: inline-block;
    font-weight: 400;
}

.tea-flavor, .collections-flavor{
    width: 75%;
    text-align: left;
}

.tea-price, .collections-price {
    width: 25%;
    text-align: right;
}

footer{
    font-size: 14px;
}

a:link {
    color: black;
}

/*lvha*/
a:visited{
    color:rgba(185, 186, 160, 0.126);
}

a:hover{
    color: lightgrey;
}

a:active{
    color: yellow;
}